
h1 {
    color: red;
}

.arrows-container {
    width: 45px;
    display: grid;
    grid-template-rows: 15px 15px 15px;
    grid-auto-flow: row;
}

.arrows-container-line-1-item {
    /*background-color:   red;*/
    display: inline-flex;
    justify-content: center;
}


.arrows-container-line-2-items {
    /*background-color: yellow;*/
    display: inline-flex;
    justify-content: space-between;
}

.middle-container{
    display: grid;
    grid-auto-flow: column;
}

.bottom-container{

}

.address-bar-container{
    display: grid;
    grid-template-columns: 625px 55px;
    grid-gap: 15px 10px;
}
.address-bar-container input {

}

.address-bar-container button {

}


.button-text{
    margin-left: 10px;
}
