h1 {
    color: red;
}

.arrows-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    grid-auto-flow: column;
}

.arrows-container-line {
    display: flex;
}

.address-bar-container{
    display: grid;
    grid-template-columns: 625px 55px;
    grid-gap: 15px 10px;
}
.address-bar-container input {

}

.address-bar-container button {

}